apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "redis-cluster-ha.fullname" . }}-config
data:
  redis.conf: |
    protected-mode no
    appendonly yes
    dir /data
    replica-serve-stale-data yes
    maxmemory-policy noeviction

  sentinel.conf: |
    port 26379
    sentinel monitor mymaster {{ include "redis-cluster-ha.fullname" . }}-0.{{ include "redis-cluster-ha.fullname" . }}.{{ .Values.namespace }} 6379 2
    sentinel down-after-milliseconds mymaster 5000
    sentinel failover-timeout mymaster 10000
    sentinel parallel-syncs mymaster 1
    {{- if .Values.auth.enabled }}
    sentinel auth-pass mymaster {{ .Values.auth.password }}
    {{- end }}
